{% extends 'main.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Письмо для сброса пароля отправлено</h2>
        <p>Проверьте свою почту для получения дальнейших инструкций.</p>
        {% if user.is_authenticated %}
            <a href="{% url 'user_page' user.username %}" class="btn btn-dark mt-2">Назад</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-dark mt-2">Назад</a>
        {% endif %}

    </div>
{% endblock %}