{% extends 'main.html' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
        <h1>{{ title }}</h1>
        <div class="row">
            {% for v in video_main %}
                <div class="column">
                    <div class="video-title"><a href="{% url 'detail' v.id %}">{{ v.title }}</a></div>
                        <div class="youtube-video">
                            <iframe width="500" height="300" src="{{ v.video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}