{% extends 'main.html' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
        <h1>{{ title }}</h1>
        <div class="row">
            {% for v in video_main %}
                <div class="column">
                    <div class="video-title"><a href="{% url 'detail' v.id %}">{{ v.title }}</a></div>
                        <div class="youtube-video">
                            <iframe width="500" height="300" src="{{ v.video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                </div>
            {% endfor %}
        </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
        <div id="saveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Уведомление</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {% for message in messages %}
                    <div class="toast-message">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var toastEl = document.getElementById('saveToast');
        var toastMessages = toastEl.querySelectorAll('.toast-message');
        if (toastMessages.length > 0) {
            var toast = new bootstrap.Toast(toastEl);
            toast.show();
        }
    });
</script>
{% endblock %}